.carFocused {
    background: greenyellow;
}

button {
    font-size: small;
}

input {
    font-size: medium;
}

#carsTable {
    font-size: medium;
    width: 100%;
}

#carsTable tr {
    /*padding-bottom: 5px;*/
}
#carsTable th {
    text-align: left;
}

#controls {
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    height: 32px;
}

#autoFocusControl {
    float:left;
    width: 90%;
}

#disconnect {
    width: 10%;
    float: right;
    alignment: right;
}
